{{set . "title" "obManage"}}
{{template "header.html" .}}
{{template "nav.html" .}}

<p> request cancel auth {{.Count}}</p>

<div id="edit-alert" class="alert alert-warning alert-dismissible hidden" role="alert">
  <button type="button" class="close" data-dismiss="alert">
    <span aria-hidden="true">&times;</span>
    <span class="sr-only">Close</span>
  </button>
</div>


<table border="1" class="table table-striped">
  <tr><td>email</td> <td>time</td><td>state</td></tr>
  
  {{range $.CancelCus}}
  <tr>
    <td>{{.Email}}</td>
    <td>{{.ReqTime}}</td>
    <td><a href="#" id="authState" data-url="/authState/{{.Email}}" data-type="text" data-pk="1" data-name="state" data-placement="left" data-placeholder="Required" data-original-title="Enter new state" class="editable">{{.State}}</a></td>
 
  </tr>
  {{end}}
</table>

<input  id="addCancel" placeholder="email"></input>
<a href="javascript:addCancel()">add </a>


<script>

  
  function addCancel() {
  location.href = "/addCancel/" + $("#addCancel").val()
  }
  
  $("[data-name=state]").editable('option', 'validate', function(v){
  
  });

//  $("[data-edit=requestCancelAuth]").each(
//  function(i,v){
//  $(this).click(function(){
//  var orig = $.trim($(v).text())
//  var newtxt = "";
//  if(orig === "false") {
//  newtxt="true";
//  } else {
//  newtxt="false"
//  }
//  $(v).text(newtxt);
//  var url = $(v).attr("data-url") + newtxt
//  $.get(url,{}, function(data){
//  if( data.Success != "ok" ){
//  $("#edit-alert").text(data.Info)
//  $("#edit-alert").removeClass("alert-success")
//  $("#edit-alert").attr("class","alert-warning")
//  $("#edit-alert").removeClass("hidden")
//  } else {
//  $("#edit-alert").text("modify success")
//  $("#edit-alert").removeClass("alert-warning")
//    $("#edit-alert").attr("class","alert-success")
//    $("#edit-alert").removeClass("hidden")
//  
//  }
//  })
//  })
//  }
//  )
//
  
</script>





{{template "footer.html" .}}

